body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}
tr:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.navbar,
.controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.navbar button{
    color: #ffffff;
    background-color: #3399D9;
}
.navbar button:hover{
    background-color: #5ea3cf;
}
.navbar button,
.controls button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.selected {
    background-color: rgba(0, 0, 0, 0.5);
  }
.green {
    background-color: #4CAF50;
    color: white;
}
button.green:hover{
        background-color: #54c559;

}
.red {
    background-color: #f44336;
    color: white;
}
button.red:hover{
    background-color: #ff685d;

}
.form-content{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.form-content label{
    width: 100%;
    max-width: 350px;
}
.form h2{
    /* margin: 0; */
}
.days-control{
    width: 100%;
    /* display: flex; */
    /* justify-content: space-around; */
}
.day-cont{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.day-toggler{
    display: flex;
}
.day-toggler input{
    margin-top: 0 !important;
    width: 100%;
    max-width: 50px;
}
.form-client {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    width: 100%;
}

.form-client .left {
    display: flex;
    flex-wrap: wrap;
    /* width: 50%; */
margin: 5px;
    max-width: 350px;
}

.form-client .right {
    display: flex;
    flex-wrap: wrap;
    /* width: 50%; */
    max-width: 350px;
    margin: 5px;
}

.form-client .left label {
    width: 100%;
}

.form-client .right label {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1px;
}
form button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #3399D9;
}

form label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.form-discont{
    box-sizing: border-box;
    width: 100%;
    padding: 0px 55px;
}
/* Стили для попапа */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 80%;
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
}

.close-popup {
    float: right;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
}

/* Дополнительные стили для формы внутри попапа */
.popup .form {
    display: flex;
    flex-direction: column;
}

.popup .form label {
    /* margin-bottom: 10px; */
}

.popup .form input,
.popup .form select {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

.popup .form button {
    /* margin-top: 10px; */
}
.btn-cont{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 0px 55px;
}
.btn-cont button{
    width: 100%;
    /* max-width: 200px; */
    margin: 10px 10px 10px 10px;
}